/* Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Corrected to 'border-box' */
}

/* Body styling */
body {
  font-family: "Open Sans", sans-serif; /* Font family for text */
  line-height: 1.6; /* Improved readability */
}
:root {
  --primary-color: #fcf5e9;
  --container-normal: 1100px;
  --dark-color: #333;

}
.visually-hidden {
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.bg-primary {
  background: var(--primary-color);
  color: #333;

}
.bg-dark, .bg-primary {
  padding: 0.3rem;
}

.section-heading {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 40px;
}
.bg-dark {
  background: var(--dark-color);
}


/* Unordered list styling */
ul {
  list-style: none; /* Removes default bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

/* Link styling within lists */
ul a {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherit color from parent */
}

/* Image styling */
img {
  max-width: 100%; /* Ensures images do not overflow their container */
}
.header {
  margin: 1.5rem auto;
}
/* Container styling */
.container {
  max-width: var(--container-normal); /* Maximum width of container */
  margin: 0 auto; /* Center align container */
  padding: 0 1.5rem; /* Horizontal padding */
}

/* Larger container */
.container-lg {
  max-width: 1400px; /* Maximum width for larger containers */
}

/* Smaller container */
.container-sm {
  max-width: 900px; /* Maximum width for smaller containers */
}
.header .logo {
  width: 130px;
}
.header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-menu {
  display: flex;
  gap: 16px;
  a {
    padding: 0.5rem 1rem;
  }
  a:hover {
    background: var(--primary-color);
  }
}
.current {
  background: var(--primary-color);
  font-weight: 600;
}
.main-section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
  }
}
.galllery-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery-items {
  width: calc(33.333% - 20px);
  border-radius: 8px;
}
.gallery-items img {
  border-radius: 10px;
}
.gallery-items:hover {
  opacity: 1;
}
.footer img {
  width: 120px;
  height: 35px;
}
.footer h4 {
  margin-bottom: 0.5px;
  font-size: 1rem;
}
.footer a {
margin: 0.2rem;
}
.footer {
  border-top: 1px solid #aaa;
  padding: 2rem 1.5rem;
  margin-top: 2rem;
}
.footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services {
  background: darkgray;
  color: white;
  padding: 3rem 0 4rem;
}
.service-flex {
  direction: flex;
  gap: 2rem;
}
.servive-item {
font-size: 1.1rem;
margin-bottom: 0.7rem;
}
.team {
  padding: 3rem 0 4rem;
}
.team-flex {
display: flex;
gap: 1.4rem;
}
.team img {
  border-radius: 10px;
}
/* contact section */
.contact {
  padding: 3rem 4rem;
}
.contact p {
  text-align: center;
  margin-bottom: 2rem;
}
.form-group {
  margin: 2rem 0rem;
}
.contact input, .contact textarea {
border: none;
border-bottom: 1px solid #333;
width: 100%;
font-family: inherit;
font-size: inherit;
padding-bottom: 1rem;

}
.contact input:focus, .contact textarea:focus {
  outline: 0;
}
.contact textarea {
  height: 200px;
}

.form-group button  {
  padding: 1rem 2rem;
  display: inline;
  border-radius: 0.5rem;
  background: transparent;
 
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.form-group button:hover {
color: white;
background: #333;
}
.contact button {
  width: 100%;
}
@media (max-width: 768px) {
  .header-flex, .footer, .footer-flex, .team-flex, .team, .service-flex, .services {
    flex-direction: column;
    gap: 1.5px;
    
  }
  .main-section {
    height: 300px;
  }
  .main-section h2 {
    font-size: 1.8rem;
  }
  .gallery-items {
    width: calc(50% - 20px);
  } .footer .footer-flex {
    text-align: center;
  }
}
